h1 {
  text-align: center;
  color: brown;
}
body {
  background-color: #fdfebf;
  max-width: 600px;
}
p {
  text-align: center;
}
img {
  max-width: 400px;
  display: flex;
  justify-content: center;
}
footer {
  text-align: center;
}
a {
  margin: 20px;
}
